<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo!</title>
</head>
<body>
  <div id="gameList">
   
   <div v-if="isLoading==true">
       <p>Loading...</p>
   </div>
   
   <div v-else>
       <p>Ciao</p>
        <ol>
           <div v-for="(game, index) in gameList" :key="index">
               <li>Game: {{game.id}}</li>
                <ul>
                    <li>Date: {{game.created}}</li>
                    <ul v-for="(gamePlayer, index) in game.gamePlayers" :key="index">
                        <li>Player {{gamePlayer.player.id}}: {{gamePlayer.player.email}}</li>
                    </ul>
                </ul>    
           </div>  
        </ol>
   </div>
   </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/games.js"></script>
</body>
</html>