<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link rel="stylesheet" href="style/style.css">
</head>

<body>

    <div id="gameView">

        <div v-if="isLoading">
            <p>Loading...</p>
        </div>

        <div v-else class="container">
            <div class="row">
                <p>GAME {{data.id}}, {{data.created}}</p>
            </div>
            <div class="row">
                <p>{{principalGamePlayer}} vs {{opponentGamePlayer}}</p>
            </div>
            <div class="row">
               <div class="col">
                    <table class="grid_view">
                        <thead class="grid_view">
                            <tr>
                                <th v-for="(number, index) in gridNumbers" :key="index" class="grid_view_numbers"> {{number}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(location, index) in cellsLocation" :key="index" class="grid_view">
                                <td :id="location[0]" class="grid_view bold_grid">{{location[0]}}</td>
                                <td :id="location[1]" class="grid_view" :class="{ship: renderShips(location[1]), salvo: renderSalvosPrincipal(location[1])}"></td>
                                <td :id="location[2]" class="grid_view" :class="{ship: renderShips(location[2]), salvo: renderSalvosPrincipal(location[2])}"></td>
                                <td :id="location[3]" class="grid_view" :class="{ship: renderShips(location[3]), salvo: renderSalvosPrincipal(location[3])}"></td>
                                <td :id="location[4]" class="grid_view" :class="{ship: renderShips(location[4]), salvo: renderSalvosPrincipal(location[4])}"></td>
                                <td :id="location[5]" class="grid_view" :class="{ship: renderShips(location[5]), salvo: renderSalvosPrincipal(location[5])}"></td>
                                <td :id="location[6]" class="grid_view" :class="{ship: renderShips(location[6]), salvo: renderSalvosPrincipal(location[6])}"></td>
                                <td :id="location[7]" class="grid_view" :class="{ship: renderShips(location[7]), salvo: renderSalvosPrincipal(location[7])}"></td>
                                <td :id="location[8]" class="grid_view" :class="{ship: renderShips(location[8]), salvo: renderSalvosPrincipal(location[8])}"></td>
                                <td :id="location[9]" class="grid_view" :class="{ship: renderShips(location[9]), salvo: renderSalvosPrincipal(location[9])}"></td>
                                <td :id="location[10]" class="grid_view" :class="{ship: renderShips(location[10]), salvo: renderSalvosPrincipal(location[10])}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="grid_view">
                        <thead class="grid_view">
                            <tr>
                                <th v-for="(number, index) in gridNumbers" :key="index" class="grid_view_numbers"> {{number}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(location, index) in cellsLocation" :key="index" class="grid_view">
                                <td :id="location[0]" class="grid_view bold_grid">{{location[0]}}</td>
                                <td :id="location[1]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[1])}"></td>
                                <td :id="location[2]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[2])}"></td>
                                <td :id="location[3]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[3])}"></td>
                                <td :id="location[4]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[4])}"></td>
                                <td :id="location[5]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[5])}"></td>
                                <td :id="location[6]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[6])}"></td>
                                <td :id="location[7]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[7])}"></td>
                                <td :id="location[8]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[8])}"></td>
                                <td :id="location[9]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[9])}"></td>
                                <td :id="location[10]" class="grid_view" :class="{salvo: renderSalvosOpponent(location[10])}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/game.js"></script>
</body>

</html>
