<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link rel="stylesheet" href="style/style.css">
</head>

<body>

    <div id="gameView">

<!--
        <div v-if="isLoading">
            <p>Loading...</p>
        </div>
-->

        <div v-show="isLoading" class="container">
            <div class="row">
                <p>GAME {{data.id}}, {{data.created}}</p>
            </div>
            <div class="row">
                <p>{{principalGamePlayer}} vs {{opponentGamePlayer}}</p>
            </div>
            <div class="row">
               <div class="col">
                    <table class="grid_view">
                        <thead class="grid_view">
                            <tr>
                                <th v-for="(number, index) in gridNumbers" :key="index" class="grid_view_numbers"> {{number}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(location, index) in cellsLocation" :key="index" class="grid_view">
                                <td :id=`g1${location[0]}` class="grid_view bold_grid">{{location[0]}}</td>
                                <td :id=`g1${location[1]}` class="grid_view"></td>
                                <td :id=`g1${location[2]}` class="grid_view"></td>
                                <td :id=`g1${location[3]}` class="grid_view"></td>
                                <td :id=`g1${location[4]}` class="grid_view"></td>
                                <td :id=`g1${location[5]}` class="grid_view"></td>
                                <td :id=`g1${location[6]}` class="grid_view"></td>
                                <td :id=`g1${location[7]}` class="grid_view"></td>
                                <td :id=`g1${location[8]}` class="grid_view"></td>
                                <td :id=`g1${location[9]}` class="grid_view"></td>
                                <td :id=`g1${location[10]}` class="grid_view"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="grid_view">
                        <thead class="grid_view">
                            <tr>
                                <th v-for="(number, index) in gridNumbers" :key="index" class="grid_view_numbers"> {{number}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(location, index) in cellsLocation" :key="index" class="grid_view">
                                <td :id=`g2${location[0]}` class="grid_view bold_grid">{{location[0]}}</td>
                                <td :id=`g2${location[1]}` class="grid_view"></td>
                                <td :id=`g2${location[2]}` class="grid_view"></td>
                                <td :id=`g2${location[3]}` class="grid_view"></td>
                                <td :id=`g2${location[4]}` class="grid_view"></td>
                                <td :id=`g2${location[5]}` class="grid_view"></td>
                                <td :id=`g2${location[6]}` class="grid_view"></td>
                                <td :id=`g2${location[7]}` class="grid_view"></td>
                                <td :id=`g2${location[8]}` class="grid_view"></td>
                                <td :id=`g2${location[9]}` class="grid_view"></td>
                                <td :id=`g2${location[0]}` class="grid_view"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/game.js"></script>
</body>

</html>
