.grid_view_numbers{
    border: solid;
    padding: 15px;
    z-index: 2;
}
.grid_view{
    border: solid;
    padding: 10px;
    z-index: 2;
}
.bold_grid{
    font-weight: bold;
}
.ship{
    background-color: #33ade3;  
}
.salvo{
    background-color: #ff8000;
    text-align: center;
    font-weight: bold;
}
.hit{
    background-color: red;
}