.grid_view_numbers{
    border: solid;
    padding: 15px;
}
.grid_view{
    border: solid;
    padding: 10px;
}
.bold_grid{
    font-weight: bold;
}
.ship{
    background-color: #33ade3;  
}
.salvo{
    background-color: #ff8000;
}