.grid_view_numbers{
    border: solid;
    margin: 20px;
    padding: 25px;
    border-color: #33ade3;
}
.grid_view{
    border: solid;
    margin: 20px;
    padding: 20px;
    border-color: #33ade3;
}
.bold_grid{
    font-weight: bold;
}
.ship{
    background-color: #33ade3;
    border-radius: 50%;    
}